@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
}

.information h1, .all_info h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

.information .text_description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1.5fr;
      grid-template-columns: 1fr 1fr 1fr 1.5fr;
  min-width: 1160px;
}

.information form, .all_info form {
  text-align: center;
}

.information .text_description div, .all_info .text_description div {
  border-bottom: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
  padding: 10px 0;
  font-weight: 600;
  background-color: #d2d2d2;
}

.information .text_description div:first-child, .all_info .text_description div:first-child {
  border-left: 1px solid #a0a0a0;
}

.information form h2 {
  font-size: 25px;
  color: blue;
}

.information .info_text_description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1.5fr;
      grid-template-columns: 1fr 1fr 1fr 1.5fr;
  min-width: 1160px;
}

.information .info_text_description div, .all_info .info_text_description div {
  padding: 10px 0;
  border-bottom: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
  font-weight: 500;
}

.information .info_text_description div:first-child, .all_info .info_text_description div:first-child {
  border-left: 1px solid #a0a0a0;
}

.information .info_text_description div:last-child {
  padding: 0;
}

.information .info_text_description .typeDevice {
  cursor: pointer;
}

.information .info_text_description .btn_toDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information .info_text_description .btn_toDo .edit, .information .info_text_description .btn_toDo .remove {
  width: 50%;
  border: 1px solid #a0a0a0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.information form .newComputerButton, .information form .createComputer, .information form .editComputer, .information form .mainMenu, .create_сomputer form .newComputerButton, .create_сomputer form .createComputer, .create_сomputer form .editComputer, .create_сomputer form .mainMenu {
  width: 250px;
  height: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.create_сomputer h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.create_сomputer form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 40%;
}

.create_сomputer form div .device, .create_сomputer form div .year, .create_сomputer form div .processor, .create_сomputer form div .typeRam, .create_сomputer form div .typeRom, .create_сomputer form div .graphicsСard, .create_сomputer form div .inputPowerSupply {
  width: 100%;
  height: 30px;
  cursor: pointer;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
}

.create_сomputer form div .year, .create_сomputer form div .inputPowerSupply {
  width: 99.5%;
  height: 28px;
}

.create_сomputer form .os_btn .formRadioBtn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.create_сomputer form .os_btn .formRadioBtn .os_true {
  padding-right: 10px;
  cursor: pointer;
}

.create_сomputer form .os_btn .formRadioBtn .os_false {
  cursor: pointer;
}

.create_сomputer form div .form_label, .create_сomputer form div .osSpan, .create_сomputer form div .monitorSpan, .create_сomputer form div .keyboardSpan {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 2px;
  padding-top: 10px;
  font-weight: 500;
  font-size: 18px;
}

.create_сomputer form .form_computer .powerSupply, .create_сomputer form .form_computer .monitor_btn, .create_сomputer form .form_computer .keyboard_btn, .create_сomputer form .form_computer .brendSelect, .create_сomputer form .form_laptop .powerSupply, .create_сomputer form .form_laptop .monitor_btn, .create_сomputer form .form_laptop .keyboard_btn, .create_сomputer form .form_laptop .brendSelect {
  width: 100%;
}

.create_сomputer form .form_computer .monitor_btn .formRadioBtnMonitor, .create_сomputer form .form_computer .monitor_btn .formRadioBtnKeyboard, .create_сomputer form .form_computer .keyboard_btn .formRadioBtnMonitor, .create_сomputer form .form_computer .keyboard_btn .formRadioBtnKeyboard {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.create_сomputer form .form_computer .monitor_btn .formRadioBtnMonitor .monitor_true, .create_сomputer form .form_computer .monitor_btn .formRadioBtnMonitor .monitor_false, .create_сomputer form .form_computer .monitor_btn .formRadioBtnMonitor .keyboard_true, .create_сomputer form .form_computer .monitor_btn .formRadioBtnMonitor .keyboard_false, .create_сomputer form .form_computer .monitor_btn .formRadioBtnKeyboard .monitor_true, .create_сomputer form .form_computer .monitor_btn .formRadioBtnKeyboard .monitor_false, .create_сomputer form .form_computer .monitor_btn .formRadioBtnKeyboard .keyboard_true, .create_сomputer form .form_computer .monitor_btn .formRadioBtnKeyboard .keyboard_false, .create_сomputer form .form_computer .keyboard_btn .formRadioBtnMonitor .monitor_true, .create_сomputer form .form_computer .keyboard_btn .formRadioBtnMonitor .monitor_false, .create_сomputer form .form_computer .keyboard_btn .formRadioBtnMonitor .keyboard_true, .create_сomputer form .form_computer .keyboard_btn .formRadioBtnMonitor .keyboard_false, .create_сomputer form .form_computer .keyboard_btn .formRadioBtnKeyboard .monitor_true, .create_сomputer form .form_computer .keyboard_btn .formRadioBtnKeyboard .monitor_false, .create_сomputer form .form_computer .keyboard_btn .formRadioBtnKeyboard .keyboard_true, .create_сomputer form .form_computer .keyboard_btn .formRadioBtnKeyboard .keyboard_false {
  padding-right: 10px;
  cursor: pointer;
}

.create_сomputer form .formButtons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10px;
  width: 50%;
}

.create_сomputer form .formButtons .createComputer {
  margin-right: 10px;
}

.create_сomputer form .formButtons .mainMenu {
  margin-left: 10px;
}

.create_сomputer form .form_laptop .form_group {
  margin: 0;
  width: 100%;
}

.create_сomputer form .form_laptop .form_group .brendSelect, .create_сomputer form .form_laptop .form_group .screenMatrixSelect, .create_сomputer form .form_laptop .form_group .form_input {
  width: 100%;
  height: 30px;
  cursor: pointer;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
}

.create_сomputer form .form_laptop .form_group .form_input {
  width: 98.5%;
  height: 28px;
}

.all_info .text_description, .all_info .info_text_description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  min-width: 1160px;
}

.all_info form .mainMenu2 {
  width: 250px;
  height: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */